[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux-copycat"]
	path = .tmux/plugins/tmux-copycat
	url = git@github.com:tmux-plugins/tmux-copycat.git
[submodule ".tmux/plugins/tmux-online-status"]
	path = .tmux/plugins/tmux-online-status
	url = git@github.com:tmux-plugins/tmux-online-status.git
[submodule ".tmux/plugins/tmux-open"]
	path = .tmux/plugins/tmux-open
	url = git@github.com:tmux-plugins/tmux-open.git
[submodule ".tmux/plugins/tmux-plugin-sysstat"]
	path = .tmux/plugins/tmux-plugin-sysstat
	url = git@github.com:samoshkin/tmux-plugin-sysstat.git
[submodule ".tmux/plugins/tmux-prefix-highlight"]
	path = .tmux/plugins/tmux-prefix-highlight
	url = git@github.com:tmux-plugins/tmux-prefix-highlight.git
